In [18]:
import pandas as pd
import numpy as np
import sqlite3

customer_csv_file_path = 'c:/Users/Awhy/OneDrive/Desktop/PARA/Project/PORTFOLIO/Repo/Porfolio/Sales Intelligence/Data/customer_data.csv'
marketings_csv_file_path = 'c:/Users/Awhy/OneDrive/Desktop/PARA/Project/PORTFOLIO/Repo/Porfolio/Sales Intelligence/Data/marketing_data.csv'
operational_csv_file_path = 'c:/Users/Awhy/OneDrive/Desktop/PARA/Project/PORTFOLIO/Repo/Porfolio/Sales Intelligence/Data/operational_data.csv'
sales_data_csv_file_path = 'c:/Users/Awhy/OneDrive/Desktop/PARA/Project/PORTFOLIO/Repo/Porfolio/Sales Intelligence/Data/sales_data.csv'
sales_team_data_csv_file_path = 'c:/Users/Awhy/OneDrive/Desktop/PARA/Project/PORTFOLIO/Repo/Porfolio/Sales Intelligence/Data/sales_team_data.csv'

customer_data = pd.read_csv(customer_csv_file_path)
marketings = pd.read_csv(marketings_csv_file_path)
operational = pd.read_csv(operational_csv_file_path)
sales_data = pd.read_csv(sales_data_csv_file_path)
sales_team_data = pd.read_csv(sales_team_data_csv_file_path)

In [19]:
# Connect to a new SQLite database (this will create the file if it does not exist)
db_file_path = 'c:/Users/Awhy/OneDrive/Desktop/PARA/Project/PORTFOLIO/Repo/Porfolio/Sales Intelligence/Data/sales_data.db'
conn = sqlite3.connect(db_file_path)

In [20]:
# Connect to a new SQLite database (this will create the file if it does not exist)
conn = sqlite3.connect(db_file_path)

# Write the data to a table in the SQLite database
customer_data.to_sql('customers', conn, if_exists='replace', index=False)
marketings.to_sql('marketings', conn, if_exists='replace', index=False)
operational.to_sql('operational', conn, if_exists='replace', index=False)
sales_data.to_sql('sales_data', conn, if_exists='replace', index=False)
sales_team_data.to_sql('sales_team_data', conn, if_exists='replace', index=False)

c:\Python3.8\lib\site-packages\pandas\core\generic.py:2779: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [22]:
# Verify the contents by reading from the database
query = "SELECT * FROM customers LIMIT 5;"
result = pd.read_sql_query(query, conn)

result

   Customer ID  Customer Age       Location    Industry       Customer Since
0        13936            38         Europe     Finance  2020-01-18 05:21:37
1        16275            35  North America      Retail  2020-02-18 01:26:44
2        14203            67         Europe  Technology  2020-05-08 17:29:01
3        12954            44  South America      Retail  2020-02-19 15:33:31
4        18596            42         Europe  Healthcare  2021-01-21 03:52:55