In [18]:
import pandas as pd
import numpy as np
import sqlite3

customer_csv_file_path = 'c:/Users/Awhy/OneDrive/Desktop/PARA/Project/PORTFOLIO/Repo/Porfolio/Sales Intelligence/Data/customer_data.csv'
marketings_csv_file_path = 'c:/Users/Awhy/OneDrive/Desktop/PARA/Project/PORTFOLIO/Repo/Porfolio/Sales Intelligence/Data/marketing_data.csv'
operational_csv_file_path = 'c:/Users/Awhy/OneDrive/Desktop/PARA/Project/PORTFOLIO/Repo/Porfolio/Sales Intelligence/Data/operational_data.csv'
sales_data_csv_file_path = 'c:/Users/Awhy/OneDrive/Desktop/PARA/Project/PORTFOLIO/Repo/Porfolio/Sales Intelligence/Data/sales_data.csv'
sales_team_data_csv_file_path = 'c:/Users/Awhy/OneDrive/Desktop/PARA/Project/PORTFOLIO/Repo/Porfolio/Sales Intelligence/Data/sales_team_data.csv'

customer_data = pd.read_csv(customer_csv_file_path)
marketings = pd.read_csv(marketings_csv_file_path)
operational = pd.read_csv(operational_csv_file_path)
sales_data = pd.read_csv(sales_data_csv_file_path)
sales_team_data = pd.read_csv(sales_team_data_csv_file_path)

In [19]:
# Connect to a new SQLite database (this will create the file if it does not exist)
db_file_path = 'c:/Users/Awhy/OneDrive/Desktop/PARA/Project/PORTFOLIO/Repo/Porfolio/Sales Intelligence/Data/sales_data.db'
conn = sqlite3.connect(db_file_path)

In [20]:
# Connect to a new SQLite database (this will create the file if it does not exist)
conn = sqlite3.connect(db_file_path)

# Write the data to a table in the SQLite database
customer_data.to_sql('customers', conn, if_exists='replace', index=False)
marketings.to_sql('marketings', conn, if_exists='replace', index=False)
operational.to_sql('operational', conn, if_exists='replace', index=False)
sales_data.to_sql('sales_data', conn, if_exists='replace', index=False)
sales_team_data.to_sql('sales_team_data', conn, if_exists='replace', index=False)

c:\Python3.8\lib\site-packages\pandas\core\generic.py:2779: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [22]:
# Verify the contents by reading from the database
query = "SELECT * FROM customers LIMIT 5;"
result = pd.read_sql_query(query, conn)

result

   Customer ID  Customer Age       Location    Industry       Customer Since
0        13936            38         Europe     Finance  2020-01-18 05:21:37
1        16275            35  North America      Retail  2020-02-18 01:26:44
2        14203            67         Europe  Technology  2020-05-08 17:29:01
3        12954            44  South America      Retail  2020-02-19 15:33:31
4        18596            42         Europe  Healthcare  2021-01-21 03:52:55

In [24]:
query = "SELECT * FROM marketings LIMIT 5;"
result = pd.read_sql_query(query, conn)

result

   Lead ID      Lead Source Lead Conversion Date  Lead Score
0    22510  email marketing  2020-05-12 17:10:13          10
1    20471     social media  2020-05-27 08:49:19           1
2    25362  email marketing  2020-07-22 15:02:01           3
3    25675  email marketing  2020-06-27 10:33:50           4
4    27095  email marketing  2021-02-24 18:28:27           2

In [25]:
query = "SELECT * FROM operational LIMIT 5;"
result = pd.read_sql_query(query, conn)

result

,Support Ticket ID,Issue Category,Resolution Time,Customer Satisfaction Score
0,42596,billing,10,2
1,40797,technical,46,4
2,43931,technical,8,5
3,41775,billing,10,4
4,48657,technical,9,2

In [26]:
query = "SELECT * FROM sales_data LIMIT 5;"
result = pd.read_sql_query(query, conn)

result

,Transaction ID,Product ID,Product Category,Sales Date,Revenue,Customer ID
0,1675,157,CRM software,2020-06-16 17:48:10,4369.92,13936
1,2469,122,CRM software,2020-09-04 10:55:45,2667.18,16275
2,7499,163,cloud storage,2020-07-31 21:23:17,2531.81,14203
3,8171,101,CRM software,2020-10-17 06:13:23,3595.76,12954
4,8831,198,cloud storage,2021-03-13 07:00:47,4696.67,18596

In [27]:
query = "SELECT * FROM sales_team_data LIMIT 5;"
result = pd.read_sql_query(query, conn)

result

,Sales Rep ID,Number of Leads Handled,Number of Successful Conversions,Total Sales Value
0,356,25,43,17983.56
1,383,87,10,15595.58
2,303,99,27,7939.99
3,392,30,23,13245.62
4,339,45,41,5312.56